CREATE TABLE [dbo].[LUT_PricerTypeAPRPro_State](
	[LUTSID] [int] NOT NULL,
	[LUTPTID] [int] NULL,
	[state_id] [varchar](2) NULL,
	[StateName] [varchar](100) NOT NULL,
	[effdate] [datetime] NOT NULL,
	[DisplayOrder] [int] NULL,
	[Enabled] [bit] NULL,
 CONSTRAINT [PK_LUT_PricerTypeAPRPro_State] PRIMARY KEY CLUSTERED 
(
	[LUTSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_LUT_PricerTypeAPRPro_StateEffdate] ON [LUT_PricerTypeAPRPro_State]
(
	[StateName] ASC,
	[effdate] ASC,
	[LUTPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
