CREATE TABLE [dbo].[LUT_PricerTypeAPRPro_Procedure](
	[LUTPID] [int] NOT NULL,
	[PCode] [char](4) NOT NULL,
	[PDescription] [varchar](500) NULL,
	[Enabled] [bit] NULL,
	[LUTPTID] [int] NULL,
 CONSTRAINT [PK_LUT_PricerTypeAPRPro_StateProcedure] PRIMARY KEY CLUSTERED 
(
	[LUTPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_LUT_PricerTypeAPRPro_StateProcedure] ON [LUT_PricerTypeAPRPro_Procedure]
(
	[LUTPID] ASC,
	[PCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
