USE [RateManager_Jun11Old]
GO
/****** Object:  Table [dbo].[PTVData]    Script Date: 6/15/2026 3:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUT_PricerTypeVariable](
	[LUTPTVID] [int] NOT NULL,
	[LUTPTID] [int] NOT NULL,
	[SEQ] [varchar](10) NULL,
	[VariableName] [varchar](50) NOT NULL,
	[VariableDescr] [varchar](max) NULL,
	[VariableType] [varchar](10) NULL,
	[VariableLeftCount] [smallint] NULL,
	[VariableRightCount] [smallint] NULL,
	[VariableFormat] [varchar](50) NULL,
	[VariableEventHandler] [varchar](1000) NULL,
	[LabelOnUI] [varchar](200) NULL,
	[DefaultValue] [varchar](50) NULL,
	[CalculationFormula] [varchar](500) NULL,
	[VariableSizeInC] [smallint] NULL,
	[StartPositionInC] [smallint] NULL,
	[IsMedext] [bit] NULL,
	[IsRequired] [bit] NULL,
	[RegexExpression] [varchar](1000) NULL,
	[RangeMin] [float] NULL,
	[RangeMax] [float] NULL,
	[StringLength] [int] NULL,
	[VariableUsageBinary] [smallint] NULL,
	[Enabled] [bit] NULL,
	[InsertedTS] [datetime] NULL,
	[ModifiedTS] [datetime] NULL,
	[DisplayStartDate] [date] NOT NULL,
	[DisplayEndDate] [date] NOT NULL,
	[CalculationJs] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
