USE [RateManager_Jun11Old]
GO
/****** Object:  Table [dbo].[PTData]    Script Date: 6/15/2026 3:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUT_PricerType](
	[LUTPTID] [int] NOT NULL,
	[pattype] [char](2) NULL,
	[PricerTypeName] [char](2) NULL,
	[PricerTypeDescr] [varchar](50) NULL,
	[PricerTableName] [varchar](30) NULL,
	[VersionInCommon] [bit] NULL,
	[GrouperVersionDefaultType] [smallint] NULL,
	[LUTPSCID] [tinyint] NULL,
	[LUTWTID] [int] NULL,
	[Enabled] [bit] NULL,
	[InsertedTS] [datetime] NULL,
	[HasWeight] [bit] NULL,
	[IsEditAll] [bit] NULL,
	[LUTEFSID] [int] NULL,
	[reimbdate_dafault] [varchar](1) NULL,
	[DataUsage] [varchar](200) NULL,
	[default_grptype] [varchar](50) NULL,
	[ShowAnalyzing] [bit] NULL,
	[TMP_PricerTableName] [varchar](100) NULL,
	[MedExtExportOrder] [int] NULL
) ON [PRIMARY]
GO
