CREATE TABLE [dbo].[LUT_PricerTypeAPRPro_StateProcedure](
	[LUTSID] [int] NOT NULL,
	[LUTPID] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[InsertedTS] [datetime] NULL,
 CONSTRAINT [PK_LUT_PricerTypeAPRPro_StateProcedure_2] PRIMARY KEY CLUSTERED 
(
	[LUTSID] ASC,
	[LUTPID] ASC,
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [LUT_PricerTypeAPRPro_StateProcedure]  WITH CHECK ADD  CONSTRAINT [FK_LUT_PricerTypeAPRPro_StateProcedure_LUT_PricerTypeAPRPro_Procedure] FOREIGN KEY([LUTPID])
REFERENCES [LUT_PricerTypeAPRPro_Procedure] ([LUTPID])
GO
ALTER TABLE [LUT_PricerTypeAPRPro_StateProcedure] CHECK CONSTRAINT [FK_LUT_PricerTypeAPRPro_StateProcedure_LUT_PricerTypeAPRPro_Procedure]
GO
ALTER TABLE [LUT_PricerTypeAPRPro_StateProcedure]  WITH CHECK ADD  CONSTRAINT [FK_LUT_PricerTypeAPRPro_StateProcedure_LUT_PricerTypeAPRPro_State] FOREIGN KEY([LUTSID])
REFERENCES [LUT_PricerTypeAPRPro_State] ([LUTSID])
GO
ALTER TABLE [LUT_PricerTypeAPRPro_StateProcedure] CHECK CONSTRAINT [FK_LUT_PricerTypeAPRPro_StateProcedure_LUT_PricerTypeAPRPro_State]
GO
