CREATE TABLE [dbo].[LUT_PricerTypeAPRPro_ProcedureVariable](
	[LUTPID] [int] NOT NULL,
	[LUTPTVID] [int] NOT NULL,
 CONSTRAINT [PK_LUT_PricerTypeAPRPro_ProcedureVariable] PRIMARY KEY CLUSTERED 
(
	[LUTPID] ASC,
	[LUTPTVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [LUT_PricerTypeAPRPro_ProcedureVariable]  WITH CHECK ADD  CONSTRAINT [FK_LUT_PricerTypeAPRPro_ProcedureVariable_LUT_PricerTypeAPRPro_Procedure] FOREIGN KEY([LUTPID])
REFERENCES [LUT_PricerTypeAPRPro_Procedure] ([LUTPID])
GO
ALTER TABLE [LUT_PricerTypeAPRPro_ProcedureVariable] CHECK CONSTRAINT [FK_LUT_PricerTypeAPRPro_ProcedureVariable_LUT_PricerTypeAPRPro_Procedure]
GO
ALTER TABLE [LUT_PricerTypeAPRPro_ProcedureVariable]  WITH CHECK ADD  CONSTRAINT [FK_LUT_PricerTypeAPRPro_ProcedureVariable_LUT_PricerTypeVariable] FOREIGN KEY([LUTPTVID])
REFERENCES [LUT_PricerTypeVariable] ([LUTPTVID])
GO
ALTER TABLE [LUT_PricerTypeAPRPro_ProcedureVariable] CHECK CONSTRAINT [FK_LUT_PricerTypeAPRPro_ProcedureVariable_LUT_PricerTypeVariable]
GO
